.slide{
  display: flex;
  overflow: ;
  width: 100%;
}

.slid{
  height: 80vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

#div {
  transition: transform 0.5s ease; /* Smooth transition */
  display: flex;
  overflow: hidden;
}

.slide {
  min-width: 100%; /* Each slide takes up the full container width */
  transition: opacity 0.5s ease; /* Optional: Fade in/out effect */
}

.about_icon{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_icon h1{
  font-size: 24px;
  font-weight: 500;
  color: var(--bs-gray-dark);
}
.about_icon p{
  line-height: 30px;
}
.about_icon p{
  color: var(--bs-gray-700);
}
.about_map{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.icons span{
  font-size: 40px;
  color: var(--bs-red);
}
.icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.icons h3{
  font-size: 16px;
  color: var(--bs-gray-dark);
  font-weight: 500;
}
.icons p{
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: var(--bs-gray-700);
}