.hosts{
  background: var(--bs-white);
  padding: 70px 0px;
}
.host{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.host p{
  font-size: 19px;
  line-height: 35px;
  color: var(--bs-gray-700);
}

@media screen and (max-width : 450px){
  .host{
    margin: 0px 20px;
  }
  .host h1{
    font-size: 20px;
  }
  .host p{
    font-size: 16px;
  }
}