.user_posts{
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
}
.userprofile{
  flex: 1;
  position: sticky;
  background: white;
  top: 80px;
}
.userpro{
  display: flex;
  position: sticky;
  background: white;
  top: 80px;
  height: calc(100vh - 80px);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.userpro img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.userposts{
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
