.navbar{
  background: var(--bs-white);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  ;
  background: var(--bs-white);
  position: sticky;
  z-index: 99;
  top: 0;
}

.navba{
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  
}
.nav_h1 h1{
  font-size: 26px;
  color: var(--bs-red);
}
.nav_path{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav_path li{
  font-size: 16px;
  color: var(--bs-gray-900);
}
.nav_path li.active{
  color: var(--bs-red);
}
.nav_right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.create{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 22px;
  color: var(--bs-white);
  font-size: 16px;
  border-radius: 45px;
  background: var(--bs-red);
}
.nav_right button{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--bs-gray);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: var( --bs-gray-200);
}


@media screen and (max-width : 450px){
  .navbar{
    display: none;
  }
}