.updated{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.update_div{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.update_cat{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.update_cat input{
  width: 100%;
  padding: 20px;
  border: 1px solid var(--bs-red);
}